[submodule "Frameworks/Haxcessibility"]
	path = Frameworks/Haxcessibility
	url = git://github.com/numist/Haxcessibility.git
[submodule "Frameworks/debugger"]
	path = Frameworks/debugger
	url = git://github.com/numist/Debugger.git
[submodule "Frameworks/ReactiveCocoa"]
	path = Frameworks/ReactiveCocoa
	url = git://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "Frameworks/NNKit"]
	path = Frameworks/NNKit
	url = git://github.com/numist/NNKit.git
[submodule "Frameworks/Sparkle"]
	path = Frameworks/Sparkle
	url = git://github.com:numist/Sparkle.git
