[submodule "Frameworks/Haxcessibility"]
	path = Frameworks/Haxcessibility
	url = git://github.com/numist/Haxcessibility.git
[submodule "Frameworks/ReactiveCocoa"]
	path = Frameworks/ReactiveCocoa
	url = git://github.com/numist/ReactiveCocoa.git
